@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}
.seccion1_catalogo {
    background-color: map-get($paletaDeColores, violetaMedio);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 34px;
}
.titulo_catalogo {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: map-get($paletaDeColores, blanco);
}
.img_catalogo {
    @include sizes(300px, 150px)
}
.img_catalogo:hover{
    transform: scale(1.15);
    transition: all 0.7s;
}
.nombre_producto {
    align-self: center;
    text-align: center;
    padding: 1rem;
}
.seccion_productos {
    min-height: 300px;
    padding: 5rem;
}

@media (max-width: 768px) {
    .order_nombre {
        order: 1;
    }
    .orden_producto {
        order: 2;
    }
}