.card_order {
    width: 297px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center
}
.order_online {
    height: 600px;
}