@import "_variables.scss";
@import "_footer.scss";
@import "_navbar.scss";
@import "_header";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

main {
    padding-top: 1rem;
}
.bg-color {
    background-color: map-get($paletaDeColores, rosaClaro);
}
    
body {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: 'Instrument Serif', serif;
}
.img_logo {
    text-align: center; 
}

.carrito-usuario {
    text-align: end;
}
.imagen_principal {
    background-image: url(../images/principal_4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 800px
}
.seccion_2 {
    background-color: map-get($paletaDeColores, rosaClaro);
    background-size: cover;
    background-position: center;
    min-height: 200px
}
.seccion2_titulo {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 34px;
}
.estrellas_s2 {
    margin-bottom: 16px;
    margin-top: 11px;
}
.seccion_3 {
    min-height: 350px;
}
.titulo_s3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.titulo_seccion3 {
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: start;
}
.imagen_seccion3 {
    width: 120px
}
.card_s3 {
    width: 297px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center
}

.titulo_contacto {
    text-align: center;
}
.boton_contacto {
    text-align: center;
}

.seccion1_nosotros {
    background-color: map-get($paletaDeColores, violetaMedio);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 34px;
}
.titulo_nosotros {
margin-top: 0;
margin-bottom: 0.5rem;
font-weight: 500;
line-height: 1.2;
color: map-get($paletaDeColores, blanco);

}

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}
.img_catalogo {
    @include sizes(300px, 150px)
}
.img_catalogo:hover{
    transform: scale(1.15);
    transition: all 0.7s;
}
.nombre_producto {
    align-self: center;
    text-align: center;
    padding: 1rem;
}
.seccion_productos {
    min-height: 300px;
    padding: 5rem;
}
.seccion_h1 {
    background-color: map-get($paletaDeColores, violetaMedio);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 34px;
}
.titulo_h1 {
margin-top: 0;
margin-bottom: 0.5rem;
font-weight: 500;
line-height: 1.2;
font-style: italic;
color: map-get($paletaDeColores, blanco);
}

.order_online {
    height: 400px;
}
